.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
  
  li {
    margin: 0 5px;
  }
  
  button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #eee;
  }
  
  .active button {
    background-color: #ddd;
    font-weight: bold;
  }
  
  .disabled button {
    opacity: 0.5;
    cursor: default;
  }
  .disabled {
    display: none;
  }
  
  