.footertext{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
span{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .footer{
        width: 100%;
    }
}